*{
    margin: 0;
    padding: 0;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header{
    top: 0;
    position:fixed;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.05);
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
}
#img{
    display: flex;
    justify-content: center;
    align-self:center;
}
nav{
    /* background-color: antiquewhite; */
    width: 40%;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
nav a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
      
    
}
.links{

    /* background-color:aqua; */
    padding : 31px 0px 27px 0px;
    border-bottom: 3px solid rgba(255,255,255,0);
 
}

.links:hover{
    padding : 31px 0px 27px 0px;
    border-bottom: 3px solid red; 
} 

#search{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f5f5f5;
    width: 360px;
    min-width: 190px;
    height: 40px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}

#search_bar{

    height:40px;
    background-color: #f5f5f5;
    padding: 8px 10px 10px;
    font-size:  14px;
    font-weight: 500;
    flex-grow: 2;
    border: 1px solid #f5f5f5;
}

#search_icon{ 
    width: 16px;    
    align-self: center;
    padding: 11px 12px 7px 12px;
    flex-grow: 0;
    flex-shrink: 0;
}
#action{
    width: 12.5em;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(190, 130, 130); */
    /* border: 1px solid black; */
}
#profile_container:hover{
    padding : 22px 0px 19px 0px;
    border-bottom: 3px solid red; 

}

.action_item{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.action_icons{
    height: 20px;
}





/* Universal container */
.container{
    display: flex;
    justify-content: center;
}
/* Universal bar */
.bar{
    width: 1247px;
}
/* Universal item */
.item{
    width: 207.83px;
}
/* Universal banner */
.banner{
    width: 623.5px;
}

#flat_off_container{
    margin-top: 103px;
}

#flat_off{
    width: 1147px;
    background-size: cover;
}

#products_item_container{
    padding: 20px 0px 15px 0px;
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FAFBFC;
    border-top: 1px solid #f5f5f5;
    box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.05);
    
}
#bottom{
    height: 488px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 40px 0px;
    /* background-color: aqua; */
    /* background-color: #fafbfc; */
}

#shopping_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: beige; */
}
#policies_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: burlywood; */
}
#footer_heading{
    color: #282c3f;
    font-size: 12px;
    padding: 19px 0px 12px;
    text-decoration: none;
}
#shopping_list{
    display: flex;
    flex-direction: column;
}
.list{
    font-size: 15px;
    color: #696b79;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: normal;
    padding: 0px 0px 5px;
}

#social_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#social_media_container{
    display: flex;
}
.social_media_icon{
    padding-right: 15px;
}

#trust_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 159px;
}
#orignal_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#return_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#copyright{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
}























